.rasp {
  -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5); 
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
   box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5); 
   overflow: hidden; 
   border: 0; 
   width: 700px; 
   height: 302px;
}